@media screen and (max-width : 1024px){

    #header .row {position: relative;}
    #header .open, 
    #header .close{display: block;
        position: absolute;
        top: 30px;
        right: 20px;
        
    }

    #header .close{display: none;}   

    #header .open button,
    #header .close button {
        font-size: 30px;
        color: #000;
        border: none;
        background: none;
    }

    #header #nav {  /* float:right; */ z-index:99999;
        position:absolute; top:100%; transform:translateY(0%); width: 200px;
        right:0; font-size:18px; color:#1e1e1e; background:#fff;
        display: none;
     }

    #header .nav.on{
        display: block;
    }
    
    #header #nav .depth1 > li { float:none; position:relative; }
    #header #nav .depth1 > li > a { padding:20px 40px; display:inline-block; }  

    #header #nav .depth1 > li .depth2 { position:static; top:100%; left:0; 
        background:#555; font-size:14px;
        color:#fff; width:100%; text-align:center; 
        display:none; }

    
}

